<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="head" ><h3>Button Log <button title="Reset" class="reset" (click)=reset()>⟲</button></h3>  </header>
    <main>
        <div class="start">
            <div>
                <h1>{{startCount}}</h1>
            </div>
            <div>
                <p>Started</p>
            </div>
        </div>
        <div class="paused">
            <div>
                <h1>{{pauseCount}}</h1>
            </div>
            <div>
                <p>Paused</p>
            </div>
        </div>
        
    </main>
</body>
</html>
