<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="head" ><h3>Time Log <button title="Reset" class="reset" (click)=reset()>⟲</button></h3> </header>
    <main class="main">
        <div class="clickArr" *ngFor="let val of arrClick">
            {{val}}
        </div>
    </main>
</body>
</html>
