
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><h1>Route-five</h1></header>
    <main>
        <section>
            <!-- <div *ngFor="let student of students">
                {{student | json}}
            </div> -->

            <table class="head">
                <tr  >
                        <th class="heading" *ngFor="let hr of header" tabindex="0" (keyup.enter)="sort(hr)" (click)="sort(hr)" >{{hr | titlecase }}
                            <span class="sortIcon" >{{modelName[hr]}}</span>
                        </th>
                </tr>
                <tr *ngFor="let student of students">
                    
                        <td *ngFor="let hr of header">{{getValue(hr,student)}}</td>
                   
                    
                </tr>
            </table>
        </section>

    </main>
</body>
</html>
