
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header><h1>Route-One</h1></header>
    <main class="main">
                                                   
           
     <!-- <h1 class="textR">This is a floating Banner which will be keep on rotating</h1>  -->
    <div class="outline flip">
    <div class="outline">
    <div class="outline">
    <div class="outline">
    <div class="outline">
    <div class="outline">
        <section class="box">
            <button class="prev" title="Previous" (click)="prev()">▶</button> 
            <button class="next" title="Next" (click)="next()">▶</button> 
            <p class="textR">Floating Banner which will be keep on rotating</p> 
            <div class="slider">
                <img class="images" src="../../assets/img1.png" alt="Image 1">
                <img class="images" src="../../assets/img2.jpg" alt="Image 2">
                <img class="images" src="../../assets/img3.png" alt="Image 3">
                <img class="images" src="../../assets/img4.png" alt="Image 4">
                <img class="images" src="../../assets/img5.jpg" alt="Image 5">
                <img class="images" src="../../assets/img6.png" alt="Image 6">

            </div>
        </section>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
        
                                                      

    </main>
        
</body>
</html>